{% extends 'base.html' %}
{% block content %}

<h1>Report Card Details</h1>
<div id="rc-details">
        <p><strong>Date:</strong> {{reportcard.date}}
        <p><strong>Behavior:</strong> {{ reportcard.behavior }}</p>
        <p><strong>Summary:</strong> {{ reportcard.summary }}</p>
        {% if reportcard.fed %}
                <p>{{dog.name}} was fed</p>
        {% else %}
                <p>{{dog.name}} was not fed</p>
        {% endif %}
        <p><strong>Grade:</strong> {{ reportcard.grade }}</p>
</div>
{% endblock %}